# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
.coverage.*
.pytype/
.mypy_cache/

.venv*/
venv/
env/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Data & artifacts
*.sqlite3
*.db
*.log
*.tmp
.DS_Store

# Secrets
.env
.env.*
